<% include partials/header.ejs%>

<h1><%= title %></h1>
<p><%= title %>
  is a professional mechanical engineer. He is working for the biggest car company in Canada.<%= title %> is also planning to buy the most expensive car on the earth.</p>
</body>
</html>