<% include partials/header.ejs%>

<h1><%= title %></h1>
<p><%= title %>
  is an international student in Georgian College.
He studied in Compouter Programmer and now he is in his third semester.</p>
</body>
</html>